.category-filter {
  display: flex;
  align-items: center;
}

.category-select {
  padding: 8px 12px;
  height: 36px;                  
  border: 1px solid  var(--secondary-color);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: #FFFFFF;
}

.category-select:focus {
  outline: none;
  border-color: var(--primary-color);
}

@media (min-width: 481px) and (max-width: 1024px) {
  .category-filter {
    margin: 0 10px; 
  }

  .category-select {
    height: 44px; 
    padding: 0 35px 0 15px; 
    font-size: 16px; 
    border-radius: 8px; 
    min-width: 100px;
    
    appearance: none; 
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23157946' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .category-select {
    height: 30px;
    font-size: 12px;
    padding: 6px 10px;
  }
}